<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat485</title>
</head>
<body>
    <aside>
        <a href="/">Chat485</a>
        <a href="/">New chat</a>
        <ul>
            {% for conv in conversations %}
            <li>
                <a href="/conversations/{{ conv.uuid }}/">{{ conv.title }}</a>
            </li>
            {% endfor %}
        </ul>
        <p>{{ user }}</p>
    </aside>

    <main>
        <h2>Select a conversation or new chat</h2>
    </main>
</body>
</html>